
body{
    margin: 20px;
}

main{
    font-family: system-ui, Arial, Helvetica, sans-serif;
    background-color: #F2E8E6;
    font-size:18px;
    
}
.main{
    margin: 0  80px;
    padding:0 20px;
    
}

#title{
    text-align: center;
}
.border-line{
    border-bottom: 0.5px solid brown;
}

section{
    padding:10px 0 ;
}

img{
    border: 3px solid #A19A9A;
}

section{
    margin: 20px 0;;
}

footer{
    text-align: center;
}


.caption {
    margin-top: -3px;
    margin-left: 15px;
    font-size:14px;
}

#float-right{
    float: right;
}

.float-left{
    float:left;
    margin-right: 20px;
}

.clear{
    clear:both;
}

.image-size{
    height: 400px;
    width:600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
  display: inline;
  font-size: 20px;  
  margin-right: 30px;
  background:#EAF2F2;
  border: 1px solid black;
  border-radius: 25px;
}

ul li a{
    text-decoration: none;
    padding:15px;
}

.topnav{
    margin-top:5px;
    padding: 5px;
    background:#BEC5C5;
}